* {
  box-sizing: border-box;
  font-family: "Raleway" !important;
}

body {
  font-family: "Raleway" !important;
  background-color: #f2f2f2 !important;
  color: #0d0d0d;
}

.container-shortcode {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bac-img {
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  top: 0;
}
.bac-img img {
  width: 100%;
  height: 100%;
}
.image-map {
  height: 200px;
}
h1 {
  text-transform: uppercase;
}
.card {
  border: 1px solid #343a407a !important;
}
.card .card-title-event {
  min-height: 60px;
  text-align: center;
}
.container-img {
  outline: 1px solid #343a4038;
  padding: 1%;
}
img.card-img-top {
  height: 200px;
}
.slick-slide img {
  border-radius: 0.15rem !important;
  -webkit-border-radius: 0.15rem !important;
  -moz-border-radius: 0.15rem !important;
  -ms-border-radius: 0.15rem !important;
  -o-border-radius: 0.15rem !important;
}

span.next,
span.prev {
  cursor: pointer;
}
span.displed {
  cursor: not-allowed;
  opacity: 0.5;
}

span.page-link {
  cursor: pointer;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
}

span.page-link:hover {
  box-shadow: 2px 5px 4px rgba(3, 3, 3, 0.5), 1px 2px 1px rgba(3, 3, 3, 0.5),
    1px 3px 1px rgba(3, 3, 3, 0.5);
}
.slick-dots li {
  margin: 0 2% !important;
}
li.slick-active div {
  background-color: #343a40;
  color: #f2f2f2 !important;
}
#signup {
  width: 100%;
  position: absolute;
  z-index: 1;
  transform: translateY(-1000px);
  animation: flide 4s cubic-bezier(0, 0.46, 0, 1.4) forwards;
  -webkit-animation: flide 4s cubic-bezier(0, 0.46, 0, 1.4) forwards;
  -webkit-transform: translateY(-1000px);
  -moz-transform: translateY(-1000px);
  -ms-transform: translateY(-1000px);
  -o-transform: translateY(-1000px);
}

@keyframes flide {
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
@-o-keyframes flide {
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
@-moz-keyframes flide {
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
@-webkit-keyframes flide {
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}

#signup .title {
  background-color: #343a40;
  color: #ffffff;
  padding: 2% 0;
}

.list-chapters.active {
  background-color: #343a40 !important;
  border-color: #f8f9fa !important;
}
.MuiButton-contained:hover {
  background-color: #545b62 !important;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto #f8f9fa;
}

.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #343a40;
}
.chapter-list {
  cursor: pointer;
}

span.cancel-btn {
  position: absolute;
  bottom: 2%;
  left: 4%;
  text-transform: uppercase;
  cursor: pointer;
}
.fill-send {
  float: right;
}

.open-chapter {
  position: absolute;
  background: #ffffff;
  z-index: 99;
  top: 10%;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  animation: scale 2s linear forwards;
  -webkit-animation: scale 2s linear forwards;
}

@keyframes scale {
  20% {
    box-shadow: 10px 10px 0px 0px rgba(3, 3, 3, 0.5);
  }
  60% {
    box-shadow: 20px 20px 0px 0px rgba(3, 3, 3, 0.5);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
.open-chapter .MuiInput-underline::before {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
