* {
  box-sizing: border-box;
  font-family: "Raleway" !important;
}

body {
  font-family: "Raleway" !important;
  background-color: #f2f2f2 !important;
  color: #343a40;
}
#navbar-chapters button:focus {
  background: #f2f2f2;
  color: #343a40;
}
.container-shortcode {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bac-img {
  position: absolute;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  top: 0;
}
.bac-img img {
  width: 100%;
  height: 100%;
}
.image-map {
  height: 200px;
}
img.chapters-img {
  width: 25%;
}
h1 {
  text-transform: uppercase;
}
.card {
  border: 1px solid #343a407a !important;
}
.card .card-title-event {
  min-height: 60px;
  text-align: center;
}
.container-img {
  outline: 1px solid #343a4038;
  padding: 1%;
}
img.card-img-top {
  height: 200px;
}
.slick-slide img {
  border-radius: 0.15rem !important;
  -webkit-border-radius: 0.15rem !important;
  -moz-border-radius: 0.15rem !important;
  -ms-border-radius: 0.15rem !important;
  -o-border-radius: 0.15rem !important;
}

.slick-dots li {
  margin: 0 2% !important;
}
li.slick-active div {
  background-color: #343a40;
  color: #f2f2f2 !important;
}
#signup {
  width: 100%;
  position: absolute;
  z-index: 1;
}

#signup .title {
  background-color: #343a40;
  color: #ffffff;
  padding: 2% 0;
}

#signup input,
#signup textarea {
  background-color: transparent;
  border: none;
  background-image: none;
}

.list-chapters.active {
  background-color: #343a40 !important;
  border-color: #f8f9fa !important;
}
.MuiButton-contained:hover {
  background-color: #545b62 !important;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto #f8f9fa;
}

.slick-next:before,
.slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #343a40;
}
.chapter-list {
  cursor: pointer;
}

span.cancel-btn {
  position: absolute;
  bottom: 2%;
  left: 4%;
  text-transform: uppercase;
  cursor: pointer;
}
.fill-send {
  float: right;
}

#open-chapter {
  position: absolute;
  background: #ffffff;
  z-index: 99;
  top: 10%;
}
#open-chapter .MuiInput-underline::before {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
}
#open-chapter input {
  border: none;
  background: transparent;
  background-image: none;
}
.MuiSelect-select {
  color: #fff;
  margin-left: 18px;
}
